.wrapper{
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: stretch;


    .mainPageBottom{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        height: calc(100%-45px);

        header{
            flex-shrink: 0;
        }
    }
}