$background-color: #0A172F;
$lighter-background: #0E1E3B;
$button-active-background:#009CEA;
$button-inactive-background: #09203b;
$button-inactive-border: #046097;
$font-white-color: #fff;
$font-gray-color: #555;
$highlight-color: #009CEA;